body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: rgb(156,137,147);
}
p {
  text-align: left;
}
h1, h2, h4 {
  font-family: 'Cinzel', serif;
}

/******************/
/* GENERAL LAYOUT */
/******************/
main {
  background-color: #391427;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 130px calc(100% - 130px);
  -ms-grid-columns: 130px calc(100% - 130px);
}
@media only screen and (min-width: 768px) {
  main {
    grid-template-columns: 130px calc(95% - 130px);
    -ms-grid-columns: 130px calc(95% - 130px);
  }
}
section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  -ms-grid-column: 2;
}
section > h2 {
  padding-left: 4rem;
  margin-top: 3rem;
}
section > div {
  margin: 0 2rem 2rem 2rem;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  section {
    display: grid;
    display: -ms-grid;
    justify-items: start;
    align-items: start;
    grid-column-gap: 3rem;
  }
  section > h2 {
    grid-column: 1 / 3;
    -ms-grid-column: 1;
  }
}
section .content {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 50% 50%;
  -ms-grid-columns: 50% 50%;
}
.next-button {
  position: static;
  padding-top: 2rem;
}
.next-button a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 3rem;
}
.next-button a:after {
  content: '⇓';
}
.next-button a:hover, .next-button a:active {
  color: rgb(255, 255, 255);
}
@media only screen and (min-width: 992px) {
  .next-button a:after {
    content: '➤';
    font-size: 2rem;
  }
  .next-button {
    position: fixed;
    top: calc(50% - 0.5rem);
    left: calc(100% - 42px);
    padding-top: 0;
    line-height: 1rem;
  }
}


/************/
/* BUTTTONS */
/************/
.button-primary {
  box-sizing: border-box;
  display: inline-block;
  background-color: #639033;
  color: #391427;
  font-family: 'Cinzel', serif;
  font-size: 1.2rem;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border: none;
}
.button-primary:hover {
  background-color: #95C265;
  cursor: pointer;
}
.button-primary:active, .button-primary:focus {
  outline-color: #95C265;
}




/**************/
/* NAVIGATION */
/**************/
nav {
  font-family: 'Cinzel', serif;
  -ms-grid-column: 1;
}
nav ul {
  list-style-type: none;
  display: flex;
}
nav.side-nav {
  border-right: 1px solid rgb(156,137,147);
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2rem 0;
}
nav.side-nav > ul {
  margin: 0 1rem 0 0;
  padding: 0;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
nav.side-nav li {
  margin: 1rem 0;
}
nav.side-nav a {
  color: #639033;
}
nav.side-nav a.active {
  color: #fff;
}
nav.side-nav a:hover, nav.side-nav a:active {
  color: #fff;
  text-decoration: none
}

nav.title-nav > ul {
  margin: 0 auto -1rem auto;
  padding: 1rem 0 0 0;
  display: flex;
  justify-content: center;
  color: #fff;
}
#email {
  display: none;
}
@media only screen and (min-width: 768px) {
  #email {
    display: inline;
  }
}
@media only screen and (min-width: 400px) {
  nav.title-nav > ul > li {
    margin: 0 1rem;
  }
}
nav.title-nav > ul > li {
  display: block;
  margin: 0 0.4rem;
}


a {
  color: #fff;
  text-decoration: none;
}

nav a:hover, nav a:active {
  text-decoration: underline;
}
